@import url(./tailwind.css);

:root {
  --foreground-rgb: 255, 255, 255;
  --primary: #9370db;
  --secondary: #B18EFF;
  --hoverPrimary: #A884E7;
  --hoverSecondary: #5F34A6;
  --textDark: #333333;
  --textLight: #EEEEEE;
  --accent: #00FFFF;
}

/* Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* body {
} */
