@import url(./tailwind.css);

:root {
  --foreground-rgb: 255, 255, 255;
  --primary: #9370db;
  --secondary: #B18EFF;
  --hoverPrimary: #A884E7;
  --hoverSecondary: #5F34A6;
  --textDark: #333333;
  --textLight: #EEEEEE;
  --accent: #00FFFF;
}

body {
}
